<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
    <main>
        <div id="login-frame">
            <h1 id="title">Demo Player</h1>
            <form method="POST" action="/login">
                <div id="email-input" class="mdc-text-field inputs" required>
                    <input name="email" type="text" id="my-text-field" class="mdc-text-field__input">
                    <label class="mdc-floating-label" for="my-text-field">Email</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div id="pass-input" class="mdc-text-field inputs">
                    <input name="pass" type="text" id="my-text-field" class="mdc-text-field__input">
                    <label class="mdc-floating-label" for="my-text-field">Password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                {{#if isInvalidUser}}
                    <p id="error">* Ivalid email or password</p>
                {{/if}}
                <button id="submit" type="submit" class="mdc-button mdc-button--raised">Login</button>
            </form>
        </div>
    </main>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="javascript/login.js"></script>
</body>
</html>