#video-player-frame {
    flex: 4 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    --width-video-player: 912px;
    --height-video-player: 513;
}

.controls {
    margin: 0px 8px 0px 8px;
    border: none;
    outline: none;
    color: white;
    font-size: 32px;
    background-color: transparent;
}

#close {
    color: black;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 32px;
    width: 54px;
    height: 54px;
}

#video-player-frame-title {
    width: var(--width-video-player);
    font-weight: 500;
    margin-left: 4px;
}

#video-player {
    position: relative;
    width: var(--width-video-player);
    height: var(--height-video-player);
    background-color: aliceblue;
}

video {
    width: var(--width-video-player);
    height: 100%;
    background-color: black;
}

#control-bar {
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0px;
    left: 0px;
    align-items: center;
}

#time-frame {
    display: flex;
}

.count-time {
    display: block;
    color: white;
    margin: 4px;
    font-size: 14px;
}

#final-time {
    margin-left: auto;
}

#progressbar {
    width: 100%;
}

#buttons-layout {
    display: flex;
    height: 52px;
    align-items: center;
}

#button-replay {
    font-size: 28px;
}

#button-forward {
    font-size: 28px;
}

#button-volume {
    margin-left: auto;
    font-size: 26px;
}

#volumen {
    width: 150px;
    margin-right: auto;
}

#bar {
    background-color: #e6e6e6;
}

#touch-progress {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Media query */


@media (max-width: 1640px) {

    #play-list-frame {
        flex: 1 0 25%;
        box-shadow: none;
    }

    #video-player-frame {
        --width-video-player: 768px;
        --height-video-player: 439;
    }
}

@media (max-width: 1224px) {

    #play-list-frame {
        flex: 1 0 34%;
    }

    #video-player-frame {
        --width-video-player: 624px;
        --height-video-player: 351px;
    }
}

@media (max-width: 768px) {

    #video-player-frame {
        flex: 0 0;
        display: block;
        --width-video-player: 100vw;
        --height-video-player: 201px;
        box-shadow: 0px 2px 3px lightgray;
        margin: 0px;
    }

    #video-player-frame-title {
       display: none;
    }

    #button-replay {
        display: none;
    }
    
    #button-forward {
        display: none;
    }

    #control-bar {
        visibility: visible;
    }
}