#video-player-frame {
    flex: 4 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.controls {
    margin: 0px 8px 0px 8px;
    border: none;
    outline: none;
    color: white;
    font-size: 32px;
    background-color: transparent;
}

#close {
    background-image: url("/images/close.svg");
    position: absolute;
    right: 12px;
    top: 16px;
}

#video-player-frame-title {
    width: 704px;
    font-weight: 500;
    margin-left: 8px;
}

#video-player {
    position: relative;
    width: 704px;
    height: 396px;
    background-color: aliceblue;
}

video {
    width: 704px;
    height: 100%;
    background-color: black;
}

#control-bar {
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0px;
    left: 0px;
    align-items: center;
}

#progressbar {
    width: 100%;
}

#buttons-layout {
    display: flex;
    height: 52px;
    align-items: center;
}

#button-replay {
    font-size: 28px;
}

#button-nextplay {
    font-size: 28px;
}

#button-volume {
    margin-left: auto;
    font-size: 26px;
}

#volumen {
    width: 150px;
    margin-right: auto;
}

#bar {
    background-color: #e6e6e6;
}